html,
body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 5px;
  background-color: #DEF2F1;
}

p {
  margin-bottom: 0px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 12px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 30px 12px 16px;
  margin: 12px 0;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  width: 250px;
  margin-left:auto;
}

.top-phrase {
  position: absolute;
  right: 0px;
  left: 75%;
  margin-top: 45px;
  font-size: 1.3rem;
  top: 4%;
}

.form-signin input[type="password"] {
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  padding: 12px 30px 12px 16px;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  width: 250px;
  margin-left: auto;
  margin-bottom: 17px;
}

.fw-normal{
  margin-left: 8%;
  margin-top: 15px;
  margin-bottom: 15px;
}


.btn{
  background: #2B7A78;
  color: #DEF2F1;
  margin-top: 15px;
  margin-bottom: 0px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background: #17252A;
}

.final-part {
  margin-top: 20px;
  margin-bottom: 0px;
}

.logocontainer {
  width: 63%;
  margin-left: 16%;
  height: 120px;
  border: 1px solid;
  height: 133px;
  width: 76%;
}