body{
    background-color: #feffff;
    color: black;
    margin: 0px;
}

.navigation{
    width:adjust;    
    display:inline-block;
    text-align:left;
    padding:8px 16px;    
    height: 120px;
    position: static;
}

.logo-container{
    position:absolute;
    z-index: 1;
    width: 13%;
    height: 17%;
    left: 50px;
    top: 25px;
    bottom: 25px;
    padding: auto;
}

.top-phrase {
    position: absolute;
    right: 0px;
    left: 75%;
    margin-top: 45px;
    font-size: 1.3rem;
    color:black;
}

.bar{   
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color:#17252A;
    color: #DEF2F1;
    text-align: center;
}

.qtResults{
    margin: 0px;
    padding: 10px;
    padding-bottom: 25px;
}

.category{
    float: left;
}

.button{
    background: #3aafA9;
    color:  white;
    margin-top: 15px;
    margin-bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.searchBox{
    margin: auto;
    width: 40%;
    height: 25px;
    padding:8px 16px;
    border-radius: 5px;
    border-color: #2B7A78;
}

.searchHome{
    background-color: #a4e2df;
    text-align: justify;
    position:relative;
    top:30%;    
    margin: 0px 400px;
    width: 63%;
    height: 200px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: #3aafA9;
    opacity: 0.95;
}

.photo{
    float:left;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.footer{
    z-index: 1;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    border-top: 2px solid;
    border-color: #DEF2F1; 
    background-color:#17252A;
    padding-bottom: 2%;
    padding-top: 2%;
    color: #DEF2F1;
    text-align: center;
    padding: 20px 0px 20px 20px;
}

  
  .custom-select{
    position: absolute;
    font-family: Arial;
    margin: 50px 50px;
  }

  select, .catText{
    margin: 10px 50px;
  }