body {
    text-align: center;
    align-items: center;
    padding-top: 10px;
    background-color: #DEF2F1;
    margin: 0px;
  }

.main-title {
    line-height: 5rem;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #17252A;
}

.top-phrase {
    position: absolute;
    right: 0px;
    left: 75%;
    margin-top: 45px;
    font-size: 1.3rem;
}

.main-container {
    background-image: url(../images/handshake.png);
    margin: auto;
    background-color:#3AAFA9;
    width: 65%;
    height: 473px;
    position: relative;
    top: 75px;
    border-radius: 45px;
}

.seller-container {
    position: absolute;
    color: #DEF2F1;
    line-height: 3rem;
    font-size: 1.2rem;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    top: 15%;
    width: 37%;
    height: 200px;
    border-radius: 45px;
    border: 3px solid;
    margin-top: 75px;
    border-color: #2B7A78;
    background: #17252A;
    margin-left: 3%;
    opacity: 0.91;
}

.buyer-container {
    position: absolute;
    color: #DEF2F1;
    line-height: 3rem;
    font-size: 1.2rem;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    top: 15%;
    width: 37%;
    height: 200px;
    border-radius: 45px;
    border: 3px solid;
    left: 57%;
    margin-top: 75px;
    border-color: #2B7A78;
    background: #17252A;
    opacity: 0.91;
}

.logo-container{
    position:absolute;
    z-index: 1;
    width: 13%;
    height: 17%;
    left: 50px;
    top: 25px;
}

.title-div{
    margin-top: 43px;
}

.btn{
    background: #2B7A78;
    color: #DEF2F1;
    margin-top: 15px;
    margin-bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

.btn:hover{
    background:#3AAFA9;
}

.footer {
    z-index: 1;
    position: relative;
    margin-top: 7.29%;
    margin-bottom: 0%;
    border-top: 2px solid;
    border-color: #DEF2F1; 
    background-color:#17252A;
    padding-bottom: 2%;
    padding-top: 3.5%;
    color: #DEF2F1;
}

@media (max-width: 600px) {
    .footer {
      background-color: red;
      margin-top: 170px;
      padding-bottom: 4.5%;
      padding-top: 5.5%;
    }
  }